<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

 
	<configSections>
        <section name="FacebookGraphToolkitConfiguration" type="Facebook_Graph_Toolkit.FacebookGraphToolkitConfiguration"/>
    </configSections>
    <FacebookGraphToolkitConfiguration FacebookAppID="170936369682906" FacebookAppSecret="d0f624ded5a30551cd62d480a9c9e9e2" FacebookAppAddress="http://apps.facebook.com/israelijokes/" PostAuthorizeRedirectURL="index.aspx">
    </FacebookGraphToolkitConfiguration>
    
	 <appSettings>
    <add key="connectionstring" value="charset=hebrew; Data Source=4e43aae5-7a5a-47c6-8948-a19e009a867b.mysql.sequelizer.com; DataBase=db4e43aae57a5a47c68948a19e009a867b; User ID=fmhqtzqhgclwdrlb; Password=MCkb5GRzDXjrtqmDWWWSjHhyHk77XhwuqKPouneMVZh5Tw6827fu3R2duTATHSJv; " />
    <add key="filePath" value="C:\inetpub\www\mayaron\euro.mayaron.com\data\appLog" />

  </appSettings>
  <system.web>
      <!--<globalization requestEncoding="utf-8" responseEncoding="utf-8" />-->
      <globalization requestEncoding="windows-1255" responseEncoding="windows-1255" fileEncoding="windows-1255" culture="he-IL" uiCulture="he-IL" />
<customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
       
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
        <directoryBrowse enabled="false" />
        <defaultDocument>
            <files>
                <clear />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
                <add value="default.aspx" />
                <add value="index.php" />
            </files>
        </defaultDocument>
  </system.webServer>


    
</configuration>

